*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
    min-height: 20px;
}
:root{
    --cyan: rgb(43, 186, 154);
    --sotto: rgb(58, 85, 110);
    --copy: rgb(31, 52, 71);
}
.jumbo{
    background-color: var(--cyan);
}

.my-2 a{
    text-decoration: none;
    color: white;
}

.avatar{
    max-width: 300px;
    margin: 1rem auto;
}
.portfolio img{
    width: 100%;
}

.about{
    background-color: var(--cyan);
    color: WHITE;
}

.about button , .send{
    background-color: var(--cyan);
    color: white;
    padding: 5px 10px;
    margin: 1rem;
    border:2px solid white;
}

.send{
    margin: 1rem 0;
}

.sotto{
    background-color: var(--sotto);
    color: white;
}

.copy{
    background-color: var(--copy);
}

button:hover {
    background-color: aliceblue;
    color: rgb(73, 73, 73);
    border-color:  rgb(73, 73, 73);
}

h2{
    margin: 2rem 0;
}