*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
    min-height: 20px;
}
:root{
    --cyan: rgb(43, 186, 154);
    --sotto: rgb(58, 85, 110);
    --copy: rgb(31, 52, 71);
}
.jumbo{
    background-color: var(--cyan);
}

.avatar{
    max-width: 300px;
    margin: 1rem auto;
}
.portfolio img{
    width: 100%;
}

.about{
    background-color: var(--cyan);
    color: WHITE;
}

.about button , .send{
    background-color: var(--cyan);
    color: white;
    padding: 5px 10px;
    margin: 1rem;
    border:2px solid white;
}

.contact .col div{
    border-bottom: 2px solid rgb(190, 189, 189);
    padding: 0.4rem 0;
}

.mex{
    height: 100px;
}
.send{
    margin: 1rem 0;
}

.sotto{
    background-color: var(--sotto);
    color: white;
}
textarea{
    width: 100%;
}
.copy{
    background-color: var(--copy);
}